{% extends "meteo/layout.html" %}
{% load static %}

{% block title %}PiriNeu - Home{% endblock %}

{% block body %}
{% if user.is_authenticated %}

    <section class="web-overview">

        <a href="{% url 'skiresorts' %}" class="home-card">
            <div class="home-card-image">
                <img src="{% static 'images/Skiresorts.png' %}" alt="Ski Resorts Page">
            </div>
            <p>Check real-time weather for ski resorts</p>
        </a>

        <a href="{% url 'summits' %}" class="home-card">
            <div class="home-card-image">
                <img src="{% static 'images/Mainsummits.png' %}" alt="Main Summits Page">
            </div>
            <p>Check the weather for Catalunya's main summits</p>
        </a>

        <a href="{% url 'bpa' %}" class="home-card">
            <div class="home-card-image">
                <img src="{% static 'images/Bpa.png' %}" alt="BPA Page">
            </div>
            <p>Check the updated avalanche forecast</p>
        </a>

    </section>

    <section class="home-routes">
        <h2>Routes shared by the PiriNeu community</h2>
        <div class="home-grid">
            {% if routes %}
                {% for route in routes %}
                    <article class="route-card">
                                <div class="route-header">
                                    <h3>
                                        {{ route.name }}
                                    </h3>

                                    {% if route.owner == request.user %}
                                    <form action="{% url 'deleteroute' route.id %}" method="post">
                                        {% csrf_token %}

                                        <button
                                            type="submit"
                                            class="btn btn-sm btn-outline-info delete-btn"
                                            onclick="return confirm('Are you sure you want to delete this route?');"
                                        >
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                    {% endif %}
                                </div>

                                <div class="sub-header">
                                    <p>
                                        {{ route.location }}
                                    </p>

                                    {% if route.date_completed %}
                                        <p>
                                            · {{ route.date_completed }} 
                                        </p>
                                    {% endif %}

                                    <p>
                                        · by <span style= "font-weight: 700">{{ route.owner }}</span>
                                    </p>

                                </div>

                                <div class="dist-time">
                                    {% if route.distance_km %}
                                        <p>
                                            <span style="font-weight: 700">Distance:</span> {{ route.distance_km }} km
                                        </p>
                                    {% else %}
                                        <p>
                                            No distance info
                                        </p>
                                    {% endif %}
                                    
                                    <div class="time">
                                        <p>
                                            <span style="font-weight: 700">Duration:</span>
                                            {{ route.duration_hours|default:"00" }}h
                                            {{ route.duration_minutes|default:"00" }} min
                                        </p>
                                    </div>
                                </div>

                                {% if route.weather_info %}
                                    <p>
                                        <span style="font-weight: 700">Weather & snow info:</span> {{ route.weather_info }}
                                    </p>
                                {% else %}
                                    <p>
                                        *No weather or snow info
                                    </p>
                                {% endif %}
                    </article>
                {% endfor %}
        </div>

            {% else %}
                <div class="empty-state">
                    <h2>There is no routes at the moment</h2>

                    <p>
                        Add your first route to start building your personal log.
                    </p>

                    <a href="{% url 'myroutes' %}">
                        Add your first route
                    </a>
                </div>
            {% endif %}
        </div>
    </section>


{% else %}

<div class="home-not-logged">
    <div class="home-column">
        <div class="app-description">
            <p>❄️Check out Catalunya's snow forecast at a glance.</p>
            <p>🏔️Share your routes and weather insights.</p>
            <p>⚠️Check the avalanche information to plan your journey</p>
        </div>
        <div class="card-message">
            <h3><a href="{% url 'login' %}">Log in</a> to start!</h3>

            <p>
                Don't have an account?
                <a href="{% url 'register' %}">Register here.</a>
            </p>
        </div>
    </div>

    <div class="home-column">
        <div class="images-column">
            <img class="home-image image-one" src="{% static 'images/Skiresorts.png' %}" alt="Ski Resorts Page">
            <img class="home-image image-two" src="{% static 'images/Mainsummits.png' %}" alt="Main Summits Page">
            <img class="home-image image-three" src="{% static 'images/Bpa.png' %}" alt="BPS Page">
        </div>
    </div>
</div>

{% endif %}

{% endblock %}