{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Meteo{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'meteo/styles.css' %}" rel="stylesheet">

        <!-- Added for security when loading external resources (like Leaflet CSS/JS) to prevent leaking referrer info on cross-origin requests. This is a good practice when using third-party libraries. -->
        <meta name="referrer" content="strict-origin-when-cross-origin"> 
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        <header class="main-header">
            <nav class="navbar-custom">
                <div class="nav-brand">
                    <a href="{% url 'index' %}">SkiCat</a>
                </div>

                <ul class="nav nav-main">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'skiresorts' %}">Ski resorts</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'summits' %}">Summits</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'bpa' %}">BPA</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Routes</a></li>
                </ul>

                <ul class="nav nav-auth">
                    {% if user.is_authenticated %}
                        <li class="nav-item username">{{ user.username }}</li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        
        <main class="page-content">
            {% block body %}
            {% endblock %}
        </main>
            
        
        
    </body>
</html>