{% extends "meteo/layout.html" %}
{% load static %}

{% block title %}My Routes{% endblock %}

{% block body %}

<!-- To display messages -->
    {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

<h1 class="sub-page-title">My Routes</h1>

<section class="routes-content">
    <div class="addroute-section">
        <div class="display-form-zone">
            <p>Keep track of the mountain routes you have completed.</p>
            <button class="button-form" id="show-form" type="button">Add a new route</button>
        </div>

        <!--Hidden form for when adding a route-->
        <div id="form-content" class="form-content">
            <form action="{% url 'addroute' %}" method="post" class="addroute-form">
                {% csrf_token %}
                <div class="form-main-info">
                    <input type="text" name="name" placeholder="Route name" required class="form-field">
                
                    <select name="location" id="location">
                        <option value="" disabled selected>Select location</option>
                        {% for value, label in locations %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>

                </div>

                <textarea name="weather_info" placeholder="Any weather info you want to save and share?" class="form-field"></textarea>

                <div class="form-extra-info">
                    <input type="number" name="distance_km" placeholder="Distance in km">
                    <input type="number" name="duration_hours" placeholder="Duration (hours)">
                    <input type="number" name="duration_minutes" placeholder="Duration (minutes)">
                    <input type="date" name="date_completed" placeholder="Date when route was completed" required>
                </div>

                <div class="form-actions">
                    <input class="button-form" type="submit" value="Add">
                    <button class="button-form" id="hide-form" type="button">Close</button>
                </div>
            </form>
        </div>
    </div>

    {% if routes %}
        <div class="routes-grid">
            {% for route in routes %}
                <article class="route-card">
                    <div class="route-header">
                        <h3>
                            {{ route.name }}
                        </h3>
                        <form action="{% url 'deleteroute' route.id %}" method="post">
                            {% csrf_token %}

                            <button
                                type="submit"
                                class="btn btn-sm btn-outline-info delete-btn"
                                onclick="return confirm('Are you sure you want to delete this route?');"
                            >
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </div>

                    <div class="sub-header">
                        <p>
                            {{ route.location }}
                        </p>

                        {% if route.date_completed %}
                            <p>
                                · {{ route.date_completed }} 
                            </p>
                        {% endif %}

                    </div>

                    <div class="dist-time">
                        {% if route.distance_km %}
                            <p>
                                <span style="font-weight: 700">Distance:</span> {{ route.distance_km }} km
                            </p>
                        {% else %}
                            <p>
                                No distance info
                            </p>
                        {% endif %}
                        
                        <div class="time">
                            <p>
                                <span style="font-weight: 700">Duration:</span>
                                {{ route.duration_hours|default:"00" }}h
                                {{ route.duration_minutes|default:"00" }}min
                            </p>
                        </div>
                    </div>

                    {% if route.weather_info %}
                        <p>
                            <span style="font-weight: 700">Weather & snow info:</span> {{ route.weather_info }}
                        </p>
                    {% else %}
                        <p>
                            *No weather or snow info
                        </p>
                    {% endif %}

                </article>
            {% endfor %}
        </div>

    {% else %}
        <div class="empty-state">
            <h2>You have not saved any routes yet.</h2>

            <p>
                Add your first route to start building your personal log.
            </p>

            <a href="" class="button">
                Add your first route
            </a>
        </div>
    {% endif %}
</section>


<script>

    //Toggle addroute form visibility
    const showFormBtn = document.getElementById("show-form");
    const addForm = document.getElementById("form-content");
    const cancelForm = document.getElementById("hide-form");

    showFormBtn.addEventListener("click", function(){
        addForm.classList.add("open");
        showFormBtn.style.display ="none";
    })

    cancelForm.addEventListener("click", function(){
        addForm.classList.remove("open");

        setTimeout(function() {
            showFormBtn.style.display = "inline-block";
        }, 300);
    });  


    setTimeout(() => {
        const messages = document.getElementById("messages");

        if (messages) {
            messages.style.opacity = "0";

            setTimeout(() => {
                messages.remove();
            }, 5000);
        }
    }, 3000); 
       
</script>

{% endblock %}