{% extends "meteo/layout.html" %}
{% load static %}

{% block title %}My Routes{% endblock %}

{% block body %}

<!-- To display messages -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

<h1 class="sub-page-title">My Routes</h1>

<section class="routes-content">
    <div class="addroute-section">
        <div class="display-form-zone">
            <p>Keep track of the mountain routes you have completed.</p>
            <button class="button-form" id="show-form" type="button">Add a new route</button>
        </div>

        <!--Hidden form for when adding a route-->
        <div id="form-content" class="form-content">
            <form action="{% url 'addroute' %}" method="post" class="addroute-form">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Route name" required class="form-field">

                <textarea name="description" placeholder="Description" class="form-field"></textarea>

                <div class="form-extra-info">
                    <input type="number" name="distance_km" placeholder="Distance in km">
                    <input type="number" name="duration_minutes" placeholder="Duration in minutes">
                    <input type="date" name="date_completed" placeholder="Date when route was completed">
                </div>

                <div class="form-actions">
                    <input class="button-form" type="submit" value="Add">
                    <button class="button-form" id="hide-form" type="button">Close</button>
                </div>
            </form>
        </div>
    </div>

    {% if routes %}
        <div class="routes-grid">
            {% for route in routes %}
                <article class="route-card">
                    <h3>
                        {{ route.name }}
                    </h3>

                    {% if route.date_completed %}
                        <p>
                            Completed on {{ route.date_completed }}
                        </p>
                    {% endif %}

                    {% if route.distance_km %}
                        <p>
                            Distance: {{ route.distance_km }} km
                        </p>
                    {% endif %}

                    {% if route.duration_minutes %}
                        <p>
                            Duration: {{ route.duration_minutes }} minutes
                        </p>
                    {% endif %}
                </article>
            {% endfor %}
        </div>

    {% else %}
        <div class="empty-state">
            <h2>You have not saved any routes yet.</h2>

            <p>
                Add your first route to start building your personal log.
            </p>

            <a href="" class="button">
                Add your first route
            </a>
        </div>
    {% endif %}
</section>


<script>

    //Toggle addroute form visibility
    const showFormBtn = document.getElementById("show-form");
    const addForm = document.getElementById("form-content");
    const cancelForm = document.getElementById("hide-form");

    showFormBtn.addEventListener("click", function(){
        addForm.classList.add("open");
        showFormBtn.style.display ="none";
    })

    cancelForm.addEventListener("click", function(){
        addForm.classList.remove("open");

        setTimeout(function() {
            showFormBtn.style.display = "inline-block";
        }, 300);
    });    
       
</script>

{% endblock %}